<ion-header>
  <ion-navbar color="main">
      <ion-title>
        <img src="assets/imgs/logo.png" alt="logo">
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-list> 
    <!-- <ion-list-header></ion-list-header> -->
   <ion-item *ngFor="let item of items  ">
        <ion-list>
            <ion-item  > 
                  
                  <!-- <ion-thumbnail item-start (click)="openModal(item)">
                      <img src="{{item.img}}" alt="map">
                  this.arraynumber
                     </ion-thumbnail>  -->
                    <h2 >{{item.name}}</h2>
                    <div>
 <p >{{item.address}}</p>

                    </div>
                   
                    <ion-item *ngFor="let item2 of item.numbers  " >
                       
                           
                <p (click)="call(item2.number)">
                    <ion-icon name="call" (click)="call(item2.number)" ></ion-icon> 
                   {{item2.number}}
                  </p> 
                
                 </ion-item>
                  <ion-icon  item-end (click)="openModal(item)" name="locate"></ion-icon>
                  <!-- <button ion-button clear item-end (click)="openModal(item)">عرض</button> -->
            </ion-item>
        </ion-list>
    </ion-item> 















    <!-- <ion-item>
        <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                  <img src="assets/imgs/map.png" alt="map">
              </ion-thumbnail>
              <h2>فرع المعادى</h2>
              <p>العنوان بالتفصيل</p>
              <p>
                <ion-icon name="call"></ion-icon>
                012345678900
              </p>
              <button ion-button clear item-end>عرض</button>
            </ion-item>
        </ion-list>
    </ion-item>

    <ion-item>
        <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                  <img src="assets/imgs/map.png" alt="map">
              </ion-thumbnail>
              <h2>فرع المعادى</h2>
              <p>العنوان بالتفصيل</p>
              <p>
                  <ion-icon name="call"></ion-icon>
                  012345678900
                </p>
              <button ion-button clear item-end>عرض</button>
            </ion-item>
        </ion-list>
    </ion-item>

    <ion-item>
        <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                  <img src="assets/imgs/map.png" alt="map">
              </ion-thumbnail>
              <h2>فرع المعادى</h2>
              <p>العنوان بالتفصيل</p>
              <p>
                  <ion-icon name="call"></ion-icon>
                  012345678900
                </p>
              <button ion-button clear item-end>عرض</button>
            </ion-item>
        </ion-list>
    </ion-item> -->
  </ion-list>
</ion-content>
