page-about {
    ion-label
    {
    //   overflow: hidden;
     
        // margin: 0;
        // display: block;
        // overflow: hidden;
        // -webkit-box-flex: 1;
        // -webkit-flex: 1;
        // -ms-flex: 1;
        // flex: 1;
        // font-size: inherit;
        // text-overflow: ellipsis;
        white-space: normal !important;
        // height: 100px !important;
    
        // overflow-x: visible;
        // overflow-y: visible;
    }
    font-family: 'Cairo', sans-serif;
    [alt="logo"]{
        width: 100px;
        float: right;
        margin-left: 5%;
        margin-top: 2%;
        padding-bottom: 12px
    }

    ion-footer ion-toolbar ion-title ion-icon{
        color: #fff !important;
        font-size: 30px;
        margin-right :10px !important        
    }

    ion-content ion-list ion-item ion-thumbnail{
        margin-right: 80px !important
    }

    ion-content ion-list ion-item ion-thumbnail{
        border-left: 1px solid #ddd !important;
        padding-bottom: 10px !important;
        padding-left: 70px !important;
        padding-top: 30px;
        margin-left: 10px !important
    }

    ion-content ion-list ion-item ion-thumbnail img{
        transform: scale(1.8)
    }

    ion-content ion-list ion-item button{
        color: #e30613 !important
    }

    ion-content ion-list ion-item button:hover{
        color: #fff !important;
        background-color: #eca436 !important
    }

    ion-content ion-list ion-icon{
        color: rgb(108, 147, 255) !important;
        margin-left: 10px !important
    }

    .toolbar-md{
        height: 50px
    }
    .list
    {
        margin-bottom: -18px !important;
    }
    .label {
        margin: 13px 8px 13px 0;
        margin-top: 13px;
        margin-right: 8px;
        margin-bottom: 13px;
        margin-left: 0px;
    }
    
}
