<ion-header>
    <ion-navbar color="main">
      <ion-title>
        <img src="assets/imgs/logo.png"    alt="logo">
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-list >
      <ion-item *ngFor="let item of items"  (click)="itemSelected(item)"> 
        <ion-avatar item-start>
            <img src="{{item.img}}">
        </ion-avatar>
        <h2>  {{ item.name }}</h2>
        <button ion-button clear item-end>
            <ion-icon name="arrow-dropleft"></ion-icon> 
        </button>
        <p>جميع المشروبات الساخنة والباردة</p>
      </ion-item>
    </ion-list>
    <!-- <ion-list no-lines >
        <button ion-item  item-right *ngFor="let item of items"  (click)="itemSelected(item)">
            {{ item.name }}
        </button> 
      </ion-list> -->
 
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer> -->
  